.sq input:focus:required:invalid {
    background: #fffaad 379px -61px;
}

.sq input:required:valid {
    background-color: #fff;
    background-position: 379px -61px;
}

.sq-with-tb-padding {
    margin: 1em 0 1em 0;
}

.sq * {
    font-size: 12px;
    /*font-family: verdana;*/
}

.sq h1 {
    font-size: 20px;
    padding: 0 20px 20px;
    margin: 0;
    text-align: center;
}

.sq #sq-books input {
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sq-button {
    width: auto;
    margin: 40px auto 20px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sq #print-button {
    display: block;
}

.sq #user-data input {
    padding: 4px;
    width: 28em;
}

.sq-adr-label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    padding-right: 15px;
    text-align: right;
    width: 90px;
}

.sq-nl-link {
    display: inline-block;
    margin-left: 10px;
    padding: 2px;
    font-weight: bold;
}

.sq-container {
    margin: 0 auto 20px auto;
    padding: 20px;
    border-radius: 5px;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.sq table.dataTable tfoot th {
    padding-right: 10px;
}