<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Spendenquittung</title>
</head>
<body>
<div id="app">
    <div class="container">
        <div id="books">
            <div>
                <div class="with-tb-padding">
                    <h1>Ihre Spende</h1>

                    <form id="add-isbn">
                        <label>Gültige ISBN:
                            <input type="text" id="ISBN" required placeholder="978-3570303283"
                                   pattern="(\d{3}-)*\d{10}"></label>

                        <input class="button" type="submit" value="Hinzufügen">
                    </form>
                </div>
                <table id="book-table" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Titel</th>
                        <th>Preis/€</th>
                        <th>Löschen</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th colspan="2" style="text-align:right">Summe:</th>
                        <th style="text-align: right">0.00</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Ihre Adresse</h1>
        Bitte geben Sie noch Ihre Adressdaten und Ihre Auslagen für Porto ein (wird bei der Spendenquittung
        berücksichtigt).
        Über den "Drucken"-Kopf können Sie das Formular drucken. Legen Sie den Ausdruck Ihrer Büchersendung bei.
        <p></p>
        Datenschutzhinweis: Ihre Daten werden ausschließlich zur Abwicklung Ihrer Buchspende verwendet.
        Die Daten werden weder weiter gegeben noch zu einem anderen Zweck verwendet.
        Erhalten Sie von uns eine Spendenquittung, so sind wir durch Steuerrecht verpflichtet eine Kopie
        (die Ihre Adressdaten enthält) zehn Jahre aufzubewaren.
        <p></p>

        <form action="http://change.me/" method="post" id="user-data">
            <p>
                <label for="lastname">Name*</label>
                <input type="text" name="lastname" id="lastname" placeholder="Mustermann" required/>
            </p>

            <p>
                <label for="firstname">Vorname(n)</label>
                <input type="text" name="firstname" id="firstname" placeholder="Max"/>
            </p>

            <p>
                <label for="street">Straße*</label>
                <input type="text" name="street" id="street" placeholder="Rindermarkt 2" required/>
            </p>

            <p>
                <label for="zip">Postleitzahl*</label>
                <input pattern="[0-9]{5}" name="zip" id="zip" placeholder="80807" required>
            </p>

            <p>
                <label for="city">Ort*</label>
                <input type="text" name="city" id="city" placeholder="München" required/>
            </p>

            <p>
                <label for="phone">Telefon</label>
                <input type="tel" name="phone" id="phone" placeholder="089 1234567">
            </p>

            <p>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="max.mustermann@mustermann.de"/>
            </p>

            <p>
                <input type="hidden" name="books" id="book-list"/>
            </p>

            <p>
                <input type="submit" value="Drucken" id="print-button" class="button">
            </p>
        </form>
    </div>
</div>
</body>
</html>