<div id="sq-app" class="sq">
    <div class="sq-container">
        <h1>Wie funktioniert das mit der Spendenquittung?</h1>
        Bitte fülle folgendes Formular aus, um eine Spendenquittung von uns zu erhalten:
        <ul>
            <li>Gib die ISBN der Bücher ein, die du uns spendest.</li>
            <li>Gib deine Adressdaten an.</li>
            <li>Lege das ausgedruckte Formular komplett deiner Buchspende bei.</li>
        </ul>
        Bei Erhalt deiner Buchspende prüfen wir die Bücher, korrigieren ggf. die Angaben und senden dir deine Spendenquittung zu.
    </div>
    <div class="sq-container">
        <div id="sq-books">
            <div>
                <div class="sq-with-tb-padding">
                    <h1>Deine Spende</h1>

                    <form id="add-isbn">
                        <label>Gültige ISBN:
                            <input type="text" id="ISBN" required placeholder="978-3570303283"
                                   pattern="(\d{3}-?)*\d{9}(\d|X)"></label>

                        <input class="sq-button" type="submit" value="Hinzufügen">
                    </form>
                </div>
                <table id="book-table" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Titel</th>
                        <th>Preis/€</th>
                        <th>Löschen</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th colspan="2" style="text-align:right">Summe:</th>
                        <th style="text-align: right">0.00</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="sq-container">
        <h1>Deine Adresse</h1>

        <p>Bitte gib hier deine Adressdaten und anfallende Portokosten an (diese werden bei der Spendenquittung berücksichtigt).
            Über den "Drucken"-Kopf kannst du das Formular drucken. Bitte leg den Ausdruck deiner Büchersendung bei.
        </p>

        <p>Datenschutzhinweis:<br>
            Die Daten werden ausschließlich zur Abwicklung Deiner Buchspende verwendet.
            Die Daten werden vertraulich behandelt und nicht weitergegeben. Erhältst du von uns eine Spendenquittung,
            so sind wir durch das Steuerrecht verpflichtet, eine Kopie (die deine Adressdaten enthält) zehn Jahre aufzubewaren.
        </p>

        <form action="http://change.me/" method="post" id="user-data">
            <p>
                <label class="sq-adr-label" for="lastname">Name*</label>
                <input type="text" name="lastname" id="lastname" placeholder="Musterfrau" required/>
            </p>

            <p>
                <label class="sq-adr-label" for="firstname">Vorname(n)</label>
                <input type="text" name="firstname" id="firstname" placeholder="Maxi"/>
            </p>

            <p>
                <label class="sq-adr-label" for="street">Straße*</label>
                <input type="text" name="street" id="street" placeholder="Rindermarkt 2" required/>
            </p>

            <p>
                <label class="sq-adr-label" for="zip">Postleitzahl*</label>
                <input pattern="[0-9]{5}" name="zip" id="zip" placeholder="80807" required>
            </p>

            <p>
                <label class="sq-adr-label" for="city">Ort*</label>
                <input type="text" name="city" id="city" placeholder="München" required/>
            </p>

            <p>
                <label class="sq-adr-label" for="phone">Telefon</label>
                <input type="tel" name="phone" id="phone" placeholder="089 1234567">
            </p>

            <p>
                <label class="sq-adr-label" for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="maxi.musterfrau@mustermann.de"/>
                <a class="sq-nl-link" title="Newsletter abonnieren" href="http://eepurl.com/PeMEz" target="_new">Newsletter</a>
            </p>

            <p>
                <input type="hidden" name="books" id="book-list"/>
            </p>

            <p>
                <input type="hidden" name="sum" id="sum"/>
            </p>

            <p>
                <input type="submit" value="Drucken" id="print-button" class="sq-button" disabled>
            </p>
        </form>
    </div>
</div>